/* board */
.board-list-wrap {
    .board-head {
        display:flex;
        align-items:center;
        margin-bottom:10px;
        .btns {
            margin-left:auto;
            font-size:0;
            .btn {
                margin-left:5px;
            }
        }
    }
    ul.lists {
        border-top:1px solid #333;
        > li {
            border-bottom:1px solid $border;
            &.my {
                position:relative;
                padding-left:40px;
                .chk-wrap {
                    position:absolute;
                    top:18px;
                    left:5px;
                }
            }
            &.reply {
                padding-left:40px;
                background:#f5f5f5;
                a.link {
                    .tit::before {
                        content:'RE : ';
                        font-weight:500;
                    }
                }
            }
            a.link {
                position:relative;
                display:block;
                padding:18px 5px;
                padding-right:27px;
                &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    right:7px;
                    width:8px;
                    height:8px;
                    margin-top:-4px;
                    border:1px solid #333;
                    border-top:none;
                    border-right:none;
                    transform:rotate(-135deg);
                }
                .tit {
                    position:relative;
                    display:inline-block;
                    vertical-align:top;
                    max-width:100%;
                    @include textEllipsis;
                    font-size:15px;
                    line-height:16px;
                }
                ul.infos {
                    margin-top:10px;
                    font-size:0;
                    li {
                        display:inline-block;
                        vertical-align:top;
                        color:$gray;
                        font-size:13px;
                        &::after {
                            content:' ';
                            display:inline-block;
                            vertical-align:top;
                            width:1px;
                            height:10px;
                            margin:2px 10px 0;
                            background:#ddd;
                        }
                        &:last-child::after {
                            display:none;
                        }
                    }
                }
                &.notice {
                    .tit::before {
                        content:'[공지]';
                        margin-right:4px;
                        color:$point;
                        font-weight:700;
                    }
                }
                &.new {
                    .tit {
                        padding-right:20px;
                        &::after {
                            content:'N';
                            position:absolute;
                            top:0;
                            right:0;
                            width:16px;
                            height:16px;
                            border-radius:50%;
                            background:$point;
                            font-size:12px;
                            line-height:16px;
                            color:#fff;
                            text-align:center;
                        }
                    }
                }
            }
        }
    }
}

.board-view-wrap {
    .board-head {
        padding-bottom:10px;
        border-bottom:1px solid $border;
        .tit {
            font-size:15px;
            line-height:23px;
            font-weight:500;
        }
        .info {
            margin-top:15px;
            font-size:0;
            li {
                display:inline-block;
                vertical-align:middle;
                color:$gray;
                font-size:13px;
                &::after {
                    content:' ';
                    display:inline-block;
                    vertical-align:middle;
                    width:1px;
                    height:10px;
                    margin:0 10px;
                    background:#eee;
                }
                &:last-child::after {
                    display:none;
                }
                .name {
                    display:inline-block;
                    vertical-align:middle;
                    font-size:0;
                    .thumb {
                        display:inline-block;
                        vertical-align:middle;
                        width:23px;
                        height:23px;
                        margin-right:4px;
                        border-radius:50%;
                        background-size:cover;
                        background-position:center;
                        background-repeat:no-repeat;
                    }
                    span {
                        display:inline-block;
                        vertical-align:middle;
                        font-size:13px;
                        color:#333;
                    }
                }
            }
        }
    }
    .board-content {
        padding-top:30px;
        .cont {
            color:#666;
            @include font;
            &:last-child {
                padding-bottom:50px;
            }
        }
        .files {
            display:flex;
            align-items:flex-start;
            margin-top:50px;
            padding:10px 0;
            border-top:1px solid $border;
            .tit {
                margin-right:10px;
                font-size:12px;
                line-height:20px;
                font-weight:500;
            }
            .file-lists {
                li {
                    margin-top:3px;
                    &:first-child {
                        margin-top:0;
                    }
                    a {
                        display:inline-block;
                        vertical-align:top;
                        max-width:100%;
                        padding-left:17px;
                        background:url('/mobile/images/icon/icon-clip.png') 0 center no-repeat;
                        background-size:12px;
                        color:#666;
                        font-size:12px;
                        line-height:20px;
                    }
                }
            }
        }
    }
    .board-foot {
        position:relative;
        min-height:48px;
        border-top:1px solid $border;
        border-bottom:1px solid $border;
        .more-view {
            display:flex;
            > li {
                width:calc((100% - 48px) / 2);
                &.prev {
                    margin-right:auto;
                    a {
                        padding-left:25px;
                        &::before {
                            left:3px;
                            transform:rotate(45deg);
                        }
                    }
                }
                &.next {
                    margin-left:auto;
                    text-align:right;
                    a {
                        padding-right:25px;
                        &::before {
                            right:3px;
                            transform:rotate(-135deg);
                        }
                    }
                }
                a {
                    position:relative;
                    display:inline-block;
                    vertical-align:top;
                    max-width:100%;
                    font-size:14px;
                    line-height:48px;
                    font-weight:500;
                    &::before {
                        content:' ';
                        position:absolute;
                        top:50%;
                        width:8px;
                        height:8px;
                        margin-top:-4px;
                        border:1px solid #666;
                        border-top:none;
                        border-right:none;
                    }
                }
            }
        }
        .btn-list {
            position:absolute;
            top:0;
            left:50%;
            width:48px;
            height:48px;
            margin-left:-24px;
            .bar,
            &::before,
            &::after {
                content:' ';
                position:absolute;
                top:50%;
                left:50%;
                width:18px;
                height:2px;
                margin-top:-1px;
                margin-left:-9px;
                border-radius:2px;
                background:#666;
            }
            &::before {
                margin-top:-8px;
            }
            &::after {
                margin-top:6px;
            }
        }
    }
    .board-reply {
        margin:0 -16px;
        padding:0 16px 20px;
        border-top:12px solid #f5f5f5;
        .tit {
            margin:0 -16px;
            padding:12px 16px;
            border-bottom:1px solid $border;
            font-size:14px;
            em {
                color:$point;
                font-weight:500;
            }
        }
        .reply-lists {
            > li {
                border-bottom:1px solid #eee;
                &.re-reply {
                    padding-left:36px;
                }
                .reply-write {
                    margin-top:10px;
                    margin-bottom:10px;
                    border:1px solid #eee;
                    border-radius:4px;
                    padding:10px;
                    padding-bottom:48px;
                    .btn.btn-sm {
                        position:absolute;
                        bottom:10px;
                        right:10px;
                        margin-top:0;
                    }
                }
            }
            .inner {
                display:flex;
                align-items:flex-start;
                padding:10px 0;
                .thumb {
                    display:block;
                    width:26px;
                    height:26px;
                    min-width:26px;
                    margin-right:10px;
                    border-radius:50%;
                    background-size:cover;
                    background-position:center;
                    background-repeat:no-repeat;
                    overflow:hidden;
                }
                .reply-conts {
                    flex:1;
                    .name {
                        display:flex;
                        align-items:center;
                        margin-bottom:5px;
                        font-size:13px;
                        line-height:18px;
                        font-weight:500;
                        .flag {
                            margin-left:4px;
                            font-weight:500;
                        }
                    }
                    .reply {
                        @include font;
                    }
                    .bottom {
                        display:flex;
                        align-self:center;
                        width:100%;
                        justify-content:space-between;
                        margin-top:10px;
                        .controls {
                            display:flex;
                            align-items:center;
                            margin-left:auto;
                            .link-gray {
                                margin-left:10px;
                                white-space:nowrap;
                                font-size:12px;
                            }
                        }
                        .date {
                            color:$gray;
                            font-size:13px;
                            line-height:17px;
                        }
                    }
                }
            }
        }
        .reply-write {
            position:relative;
            margin-top:20px;
            .name {
                position:absolute;
                top:25px;
                left:25px;
                font-size:16px;
                font-weight:500;
            }
            textarea.form-control {
                height:auto;
                min-height:50px;
                max-height:500px;
                background:#fff;
                border:none;
                padding:0;
                font-size:14px;
            }
            .btn {
                display:block;
                width:55px;
                margin:5px 0 0 auto;
            }
        }
    }
    .answer-wrap {
        border-top:1px solid $border;
        border-bottom:1px solid $border;
        background:#f5f5f5;
        .board-head {
            padding:10px 15px;
            .tit::before {
                content:'RE : ';
                font-weight:500;
            }
        }
        .board-content {
            .cont {
                padding:0 15px 30px;
            }
        }
    }
}

.board-btn {
    position:relative;
    text-align:center;
    .btn {
        position:absolute;
        right:0;
        top:-114px;
    }
}

.boardwrite-wrap {
    .board-title {
        margin-top:-10px;
        border-bottom:1px solid $border;
        .form-control {
            border:none;
            border-radius:0;
            background:#fff;
        }
    }
    .board-cont {
        textarea.form-control {
            border:none;
            background:#fff;
        }
    }
    .btn-group {
        padding:0 16px;
    }
}

.comm-board-wrap {
    > .btn.btn-point {
        display:block;
        width:88px;
        margin:-10px 0 10px auto;
    }
    ul.lists {
        border-top:1px solid #333;
        > li {
            border-bottom:1px solid $border;
            a.link {
                display:flex;
                align-items:flex-start;
                padding:20px 0;
                .thumb {
                    display:block;
                    min-width:50px;
                    width:50px;
                    height:50px;
                    margin-right:15px;
                    background-size:cover;
                    background-position:center;
                    background-repeat:no-repeat;
                }
                &.new {
                    .cont {
                        .tit {
                            &::after {
                                content:'N';
                                display:inline-block;
                                vertical-align:top;
                                width:16px;
                                height:16px;
                                margin:4px 0 0 4px;
                                border-radius:50%;
                                background:$point;
                                color:#fff;
                                font-size:12px;
                                line-height:16px;
                                text-align:center;
                            }
                        }
                    }
                }
                .cont {
                    flex:1;
                    .tit {
                        color:#333;
                        font-size:15px;
                        line-height:23px;
                        word-break:keep-all;
                    }
                    .info {
                        margin-top:10px;
                        font-size:0;
                        li {
                            display:inline-block;
                            vertical-align:top;
                            color:$gray;
                            font-size:13px;
                            &::after {
                                content:' ';
                                display:inline-block;
                                vertical-align:top;
                                width:1px;
                                height:10px;
                                margin:2px 10px 0;
                                background:$border;
                            }
                            &:last-child::after {
                                display:none;
                            }
                        }
                    }
                }
                .reply {
                    align-self:center;
                    width:28px;
                    min-width:28px;
                    height:28px;
                    border:1px solid $border;
                    border-radius:50%;
                    margin-left:15px;
                    font-size:13px;
                    color:$point;
                    line-height:26px;
                    font-weight:500;
                    text-align:center;                
                    white-space:nowrap;  
                    overflow:hidden;  
                }
            }
        }
    }
}