/* pagination */
.pagination {
    margin-top:35px;
    font-size:0;
    text-align:center;
    .control-btn, 
    .page-btn-wrap,
    .page-btn-wrap .now,
    .page-btn-wrap a {
        display:inline-block;
        vertical-align:top;
    }
    .control-btn,
    .page-btn-wrap .now,
    .page-btn-wrap a {
        width:25px;
        height:25px;
        font-size:13px;
        color:#999;
        border:1px solid transparent;
        border-radius:50%;
        line-height:25px;
        background:#fff;
    }
    .control-btn {
        position:relative;
        margin:0 5px;
        border-color:$border;
        &::before,
        &::after {
            content:' ';
            position:absolute;
            top:50%;
            left:50%;
            width:8px;
            height:8px;
            margin-top:-4px;
            border:1px solid $cont;
            border-bottom:none;
            border-right:none;
        }
        &.prev,
        &.pprev {
            &::before,
            &::after {
                transform:rotate(-45deg);
            }
        }
        &.prev {
            &::before {
                margin-left:-3px;
            }
        }
        &.pprev {
            &::before {
                margin-left:-5px;
            }
        }
        &.next,
        &.nnext {
            &::before,
            &::after {
                transform:rotate(135deg);
            }
        }
        &.next {
            &::before {
                margin-left:-6px;
            }
        }
        &.nnext {
            &::before {
                margin-left:-8px;
            }
            &::after {
                margin-left:-3px;
            }
        }
        &.prev,
        &.next {
            &::after {
                display:none;
            }
        }
    }
    .page-btn-wrap {
        margin:0;
        > a,
        > .now {
            margin:0 5px;
        }
        .now {
            color:$point;
            font-weight:500;
        }
    }
}