.select-wrap {
    position:relative;
    select {
        display:block;
        width:100%;
        min-height:50px;
        height:50px;
        padding:10px;
        padding-right:28px;
        border:1px solid $border;
        border-radius:$border-radius;
        background:#f5f5f5 url('/mobile/images/bg/bg-select.png') right 10px center no-repeat;
        background-size:12px;
        font-size:15px;
        line-height:normal;
        transition:$input-transition;
        &:focus {
            outline:none;
            border-color:$point;
        }
    }
}