/* tab */
.border-tabs {
    position:relative;
    overflow:hidden;
    &::before {
        content:' ';
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        height:1px;
        background:$border;
    }
    ul.tabs {
        position:relative;
        padding:0 16px;
        white-space:nowrap;
        font-size:0;
        overflow-x:auto;
        li {
            position:relative;
            display:inline-block;
            vertical-align:top;
            margin-left:35px;
            &:first-child {
                margin-left:0;
            }
            a {
                display:block;
                padding-bottom:10px;
                border-bottom:2px solid transparent;
                font-size:16px;
                color:#999;
            }
            &.active {
                a {
                    border-color:$point;
                    color:$point;
                    font-weight:500;
                }
            }
        }
    }
}

.button-tabs {
    overflow:hidden;
    margin-bottom:30px;
    ul.tabs {
        padding:0 16px;
        overflow-x:auto;
        white-space:nowrap;
        font-size:0;
        li {
            display:inline-block;
            vertical-align:top;
            margin-left:15px;
            &:first-child {
                margin-left:0;
            }
            a {
                display:block;
                height:32px;
                padding:0 15px;
                border:1px solid $border;
                border-radius:16px;
                color:#999;
                font-size:15px;
                text-align:center;
                line-height:30px;
            }
            &.active {
                a {
                    background:$point;
                    border-color:$point;
                    color:#fff;
                    font-weight:500;
                }
            }
        }
    }
}