/* common layout */
.skip-navigation {
    position:absolute;
    z-index:9999;
    a {
        display:block;
        width:1px;
        height:1px;
        margin:-1px;
        overflow:hidden;
    }
}
#wrap {
    .container {
        overflow:hidden;
        padding-top:130px;
        padding-bottom:50px;
        section.sect {
            padding:0 16px;
        }
        .border-box {
            padding:20px 15px;
            border:1px solid $border;
            border-radius:4px;
        }
    }
}

/* dim */
.common-dim {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(#000, 0.5);
    z-index:1005;
}

.nodata {
    display:block;
    padding:100px 0;
    text-align:center;
    color:$gray;
    font-size:18px;
    font-weight:500;
    &::before {
        content:' ';
        display:block;
        width:73px;
        height:72px;
        margin:0 auto 25px;
        background:url('/images/@nodata.gif') center no-repeat;
    }
}