/* footer */
footer {
    padding:40px 16px;
    background:#fff;
    border-top:1px solid $border;
    .foot-top {
        .btn-toggle {
            position:relative;
            padding-right:20px;
            font-size:14px;
            font-weight:500;
            &.open {
                &::after {
                    margin-top:-3px;
                    transform:rotate(135deg);
                }
            }
            &::after {
                content:' ';
                position:absolute;
                top:50%;
                right:2px;
                width:8px;
                height:8px;
                margin-top:-7px;
                border:1px solid #333;
                border-top:none;
                border-right:none;
                transform:rotate(-45deg);
                transition:all 0.2s ease-in-out;
            }
        }
        .comp-info {
            margin-top:20px;
            li {
                margin-top:10px;
                color:#666;
                font-size:12px;
                &:first-child {
                    margin-top:0;
                }
            }
        }
    }
    .link-lists {
        margin-top:30px;
        font-size:0;
        li {
            display:inline-block;
            vertical-align:top;
            &::after {
                content:' ';
                display:inline-block;
                vertical-align:middle;
                width:1px;
                height:10px;
                margin:0 6px;
                background:#888;
            }
            &:last-child::after {
                display:none;
            }
            a {
                display:inline-block;
                vertical-align:middle;
                color:#666;
                font-size:12px;
                font-weight:500;
                em {
                    color:#333;
                    font-weight:700;
                }
            }
        }
    }
    .cont {
        margin-top:25px;
        color:#666;
        font-size:12px;
        line-height:20px;
        word-break:keep-all;
    }
    .copyright {
        margin-top:25px;
        color:#bbb;
        font-size:12px;
    }
    .sns-lists {
        margin-top:25px;
        font-size:0;
        li {
            display:inline-block;
            vertical-align:top;
            margin-right:12px;
            a {
                display:block;
                width:33px;
                height:32px;
                background-size:100%;
                background-repeat:no-repeat;
                background-position:center;
                &.sns01 {
                    background-image:url('/mobile/images/icon/icon-youtube.png');
                }
                &.sns02 {
                    background-image:url('/mobile/images/icon/icon-blog.png');
                }
            }
        }
    }
}