/* main */
#wrap {
    .container.main {
        padding-top:0;
        padding-bottom:0;
    }
}
.container.main {
    section {
        margin-top:60px;
        .sect-title {
            margin-bottom:30px;
            padding:0 16px;
            font-size:20px;
            word-break:keep-all;
            em {
                font-weight:500;
            }
            &.line {
                line-height:24px;
            }
        }
    }
    // main visual
    .main-visual {
        position:relative;
        .swiper-slide {
            position:relative;
            .text {
                position:absolute;
                top:80px;
                left:16px;
                right:16px;
                font-size:30px;
                line-height:40px;
                em {
                    font-weight:500;
                }
            }
        }
        .swiper-control {
            position:absolute;
            left:16px;
            bottom:20px;
            display:flex;
            align-items:center;
            z-index:10;
            .paging {
                color:#666;
                font-size:14px;
                .swiper-pagination-current {
                    color:#333;
                    font-weight:500;
                }
            }
            .btn-play-control {
                position:relative;
                display:block;
                width:18px;
                min-width:18px;
                height:18px;
                margin-left:10px;
                border-radius:50%;
                background:#333;
                &.pause {
                    &::before,
                    &::after {
                        content:' ';
                        position:absolute;
                        top:50%;
                        left:50%;
                        width:2px;
                        height:8px;
                        margin-top:-4px;
                        background:#fff;
                        border-radius:2px;
                    }
                    &::before {
                        margin-left:-3px;
                    }
                    &::after {
                        margin-left:1px;
                    }
                }
                &.play {
                    &::before {
                        content:' ';
                        position:absolute;
                        top:50%;
                        left:50%;
                        margin-top:-4px;
                        margin-left:-2px;
                        border-top:4px solid transparent;
                        border-bottom:4px solid transparent;
                        border-left:6px solid #fff;
                    }
                }
            }
        }
    }
    // 버튼
    .btn-lists {
        display:flex;
        padding:20px 16px 0;
        font-size:0;
        li {
            flex:1;
            margin-left:16px;
            &:first-child {
                margin-left:0;
            }
            a {
                position:relative;
                display:block;
                height:65px;
                padding:0 10px;
                background:$point;
                color:#fff;
                font-size:16px;
                font-weight:500;
                line-height:65px;
                &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    right:10px;
                    width:18px;
                    height:18px;
                    margin-top:-9px;
                    background:url('/mobile/images/icon/icon-go.png') center no-repeat;
                    background-size:100%;
                }
            }
        }
    }
    // section01
    section.sect01 {
        position:relative;
        &::before {
            content:' ';
            position:absolute;
            left:0;
            right:0;
            top:30px;
            height:10px;
            background:#fff;
            z-index:10;
        }
        .sect-title {
            margin-bottom:20px;
        }
        .category-lists {
            border-top:1px solid #eee;
            border-bottom:1px solid #eee;
            overflow-x:auto;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
            ul {
                font-size:0;
                white-space:nowrap;
                li {
                    display:inline-block;
                    padding:0 16px;
                    a {
                        display:block;
                        min-width:50px;
                        padding-top:20px;
                        padding-bottom:15px;
                        text-align:center;
                        font-size:14px;
                        &::before {
                            content:' ';
                            display:block;
                            width:41px;
                            height:41px;
                            margin:0 auto 10px;
                            background-size:100%;
                            background-repeat:no-repeat;
                            background-position:center;
                        }
                        @for $i from 1 through 10 {
                            &.cate#{$i}::before {
                                background-image:url('/mobile/images/icon/icon-main#{$i}.gif');
                            }
                        }
                    }
                }
            }
        }
    }
    // section02 
    section.sect02 {
        padding:45px 16px;
        background:url('/mobile/images/bg/bg-mainsect02.jpg') center no-repeat;
        background-size:cover;
        color:#fff;
        .sect-title {
            padding:0;
            text-align:center;
        }
        .count-lists {
            li {
                margin-top:40px;
                text-align:center;
                dl {
                    display:flex;
                    flex-direction:column;
                    dt {
                        order:1;
                        margin-top:15px;
                        font-size:15px;
                    }
                    dd {
                        font-size:32px;
                        font-weight:500;
                        em {
                            font-weight:700;
                        }
                    }
                }
            }
        }
    }
    // section03
    section.sect03 {
        padding:0 16px;
        .border-tabs {
            margin:0 -16px 30px;
        }
        .button-tabs {
            margin:0 -16px 40px;
        }
    }
    // section04 
    section.sect04 {
        padding:35px 16px 40px;
        background:#f2f9ff;
        .sect-title {
            text-align:center;
        }
        .process-lists {
            > li {
                margin-top:40px;
                &:first-child {
                    margin-top:0;
                }
                .inner {
                    padding:30px 15px 40px;
                    border-radius:15px;
                    background:#fff;
                    box-shadow:$boxshadow;
                    h3.tit {
                        text-align:center;
                        color:$point;
                        font-size:16px;
                        font-weight:500;
                        span {
                            display:block;
                            width:38px;
                            height:38px;
                            margin:0 auto 20px;
                            border-radius:50%;
                            background:$point;
                            color:#fff;
                            font-size:18px;
                            line-height:38px;
                            text-align:center;
                        }
                    }
                    img {
                        display:block;
                        margin:40px 0;
                    }
                    .cont {
                        .eyebrow {
                            margin-bottom:15px;
                            color:$point;
                            font-size:16px;
                            font-weight:500;
                        }
                        .title {
                            @include font-title;
                            word-break:keep-all;
                        }
                        .desc {
                            margin-top:15px;
                            @include font;
                            word-break:keep-all;
                        }
                        .bullet-list {
                            margin-top:20px;
                        }
                    }
                }
            }
        }
    }
    // section05
    section.sect05 {
        .intro-lists {
            overflow:hidden;
            ul.lists {
                padding:0 16px;
                font-size:0;
                white-space:nowrap;
                overflow-x:auto;
                li {
                    display:inline-block;
                    vertical-align:top;
                    width:275px;
                    margin-left:25px;
                    &:first-child {
                        margin-left:0;
                    }
                    .inner {
                        .thumb {
                            display:block;
                            height:165px;
                            margin-bottom:15px;
                            border-radius:15px;
                            background-size:cover;
                            background-position:center;
                            background-repeat:no-repeat;
                            @for $i from 1 through 3 {
                                &.bg0#{$i} {
                                    background-image:url('/mobile/images/bg/bg-title0#{$i}.png');
                                }
                            }
                        }
                        .tit {
                            @include font-xl;
                            font-weight:500;
                            white-space:normal;
                            word-break:keep-all;
                        }
                        .desc {
                            margin-top:10px;
                            color:#666;
                            @include font;
                            white-space:normal;
                            word-break:keep-all;
                        }
                        .btn-go {
                            display:inline-block;
                            vertical-align:top;
                            margin-top:20px;
                            padding-right:28px;
                            background:url('/mobile/images/icon/icon-go2.png') right no-repeat;
                            background-size:18px;
                            font-size:13px;
                            line-height:18px;
                            color:$point;
                        }
                    }
                }
            }
        }
    }
    // section06    
    section.sect06 {
        padding:35px 16px 40px;
        background:#f8f8f8;
        .sect-title {
            text-align:center;
        }
        .icon-intro-lists {
            padding:30px 0;
            border-radius:15px;
            background:#fff;
            box-shadow:$boxshadow;
            ul.lists {
                display:flex;
                flex-wrap:wrap;
                li {
                    position:relative;
                    width:50%;
                    padding:0 20px;
                    text-align:center;
                    &:nth-child(2) ~ li {
                        margin-top:30px;
                    }
                    &:nth-child(even) {
                        &::after {
                            content:' ';
                            position:absolute;
                            top:20px;
                            bottom:20px;
                            left:0;
                            width:1px;
                            background:#eee;
                        }
                    }
                    &::before {
                        content:' ';
                        display:block;
                        width:55px;
                        height:55px;
                        margin:0 auto 10px;
                        background-size:100%;
                        background-position:center;
                        background-repeat:no-repeat;
                    }
                    @for $i from 1 through 6 {
                        &.icon0#{$i}::before {
                            background-image:url('/mobile/images/icon/icon-intro0#{$i}.png');
                        }
                    }
                    .tit {
                        font-size:15px;
                        font-weight:500;
                    }
                    .desc {
                        margin-top:12px;
                        color:#666;
                        @include font;
                        word-break:keep-all;
                    }
                }
            }
        }
    }
    // section07
    section.sect07 {
        .name-slider {
            position:relative;
            .name-lists {
                padding:0 16px;
                overflow:hidden;
                ul.lists {
                    display:flex;
                    flex-wrap:wrap;
                    margin:-10px 0 0 -8px;
                    li {
                        display:flex;
                        align-items:center;
                        width:calc((100% - 32px) / 4);
                        height:35px;
                        margin-left:8px;
                        margin-top:10px;
                        border:1px solid $border;
                        span {
                            display:block;
                            width:100%;
                            padding:0 2px;
                            text-align:center;
                            font-size:12px;
                            line-height:14px;
                            word-break:keep-all;
                        }
                    }
                }
            }
            .paging {
                margin-top:35px;
                text-align:center;
                font-size:0;
                > * {
                    margin:0 8px;
                }
            }
        }
    }
    // section08
    section.sect08 {
        padding:0 16px;
        a {
            display:block;
            padding:30px 15px 70px;
            border-radius:15px;
            background:url('/mobile/images/bg/bg-main-bottom.jpg') center no-repeat;
            background-size:cover;
            text-align:center;
            .tit {
                color:#fff;
                @include font-title;
            }
            .go {
                display:inline-block;
                vertical-align:top;
                margin-top:30px;
                color:#fff;
                font-size:14px;
                line-height:18px;
                &::after {
                    content:' ';
                    display:inline-block;
                    vertical-align:top;
                    width:18px;
                    height:18px;
                    margin-left:8px;
                    background:url('/mobile/images/icon/icon-go.png') center no-repeat;
                    background-size:100%;
                    opacity:0.7;
                }
            }
        }
    }
    // section09
    section.sect09 {
        border-top:1px solid $border;
        .notice-wraps {
            position:relative;
            padding:25px 16px;
            .tit {
                font-size:16px;
                font-weight:500;
            }
            .notice-lists {
                margin-top:20px;
                li {
                    display:flex;
                    margin-top:13px;
                    a {
                        display:inline-block;
                        max-width:100%;
                        padding-right:10px;
                        font-size:14px;
                        @include textEllipsis;
                    }
                    .date {
                        margin-left:auto;
                        font-size:12px;
                        color:#999;
                        text-align:right;
                        white-space:nowrap;
                    }
                }
            }
            .notice-more {
                position:absolute;
                top:25px;
                right:16px;
                width:16px;
                height:16px;
                text-align:center;
                &::before {
                    content:'+';
                    display:inline-block;
                    vertical-align:top;
                    color:#666;
                    font-size:24px;
                    line-height:16px;
                }
            }
        }
        .banners {
            a {
                position:relative;
                display:block;
                .text {
                    position:absolute;
                    top:25px;
                    left:16px;
                    right:16px;
                    .tit {
                        @include font-md;
                    }
                    .go {
                        display:inline-block;
                        padding-right:25px;
                        margin-top:12px;
                        background:url('/mobile/images/icon/icon-go2.png') right no-repeat;
                        background-size:18px;
                        color:$point;
                        font-size:13px;
                        line-height:18px;
                    }
                }
            }
        }
    }
}