/* contents */
.my-work-wrap {
    margin-bottom:40px;
    padding:20px 15px;
    box-shadow:$boxshadow;
    .head {
        .category {
            margin-bottom:5px;
            font-size:16px;
        }
        .title {
            color:$point;
            @include font-title;
            font-weight:500;
        }
    }
    .condition-list {
        margin:20px -15px;
        padding:20px 15px;
        background:$disabled;
        li {
            margin-top:10px;
            font-size:16px;
            &:first-child {
                margin-top:0;
            }
            em {
                font-weight:500;
            }
            &::before {
                content:' ';
                display:inline-block;
                vertical-align:top;
                width:15px;
                height:15px;
                margin-right:10px;
                background-repeat:no-repeat;
                background-position:center;
                background-size:100%;
            }
            &.type1::before {
                background-image:url('/mobile/images/icon/icon-won.png');
            }
            &.type2::before {
                background-image:url('/mobile/images/icon/icon-time.png');
            }
        }
    }
    .more {
        margin-top:20px;
        @include font;
        .tit {
            margin-bottom:5px;
            font-weight:700;
        }
        .desc {
            color:#666;
            @include textEllipsisClamp(2);
            word-break:keep-all;
        }
    }
}

.order-info-wrap {
    margin:0 -16px;
    padding:30px 16px 0;
    border-top:1px solid $border;
    .tit {
        margin-bottom:20px;
        font-size:16px;
        font-weight:500;
    }
}