<footer>
    <div class="foot-top">
        <button type="button" class="btn-toggle open" data-target=".comp-info"><span>로투미 사업자 정보</span><span class="blind">열기</span></button>
        <ul class="comp-info">
            <li>회사 : 로투미</li>
            <li>대표이사 : 이경환</li>
            <li>주소 : 서울특별시 종로구 인사동5길 42 종로빌딩 12</li>
            <li>사업자등록번호 : 222-11-33333</li>
            <li>통신판매업신고 : 제2021-서울종로-02337호</li>
        </ul>
    </div>
    <ul class="link-lists">
        <li><a href="">회사소개</a></li>
        <li><a href="">이용약관</a></li>
        <li><a href=""><em>개인정보처리방침</em></a></li>
        <li><a href="">법적책임</a></li>
        <li><a href="">운영정책</a></li>
    </ul>
    <p class="cont">로투미는 변호사업무대행을 위한 서비스 플랫폼을 운영합니다.<br>로투미는 통신판매중개자이며, 통신판매의 당사자가 아닙니다.<br>플랫폼 내 서비스 거래에 관한 의무와 책임은 회원에게 있습니다.</p>
    <p class="copyright">Copyright © 2021 LawToMe Inc. All rights reserved.</p>
    <ul class="sns-lists">
        <li><a href="" class="sns01" target="_blank"><span class="blind">로투미 유투브 바로가기</span></a></li>
        <li><a href="" class="sns02" target="_blank"><span class="blind">로투미 블로그 바로가기</span></a></li>
    </ul>
</footer>