<header@@if(context.main){ class="main"}>
    <div class="head-cont">
        @@if(context.main){
            <h1><a href="/mobile/"><img src="/mobile/images/logo.png" alt="LawToMe 로고"></a></h1>
        }
        <button type="button" class="btn-menu"><span class="bar"></span><span class="blind">전체메뉴 보기</span></button>
    </div>
    <div class="menu-all">
        <ul class="icon-menus">
            <!-- 로그인 전 -->
            <li><a href="" class="icon01">로그인</a></li>
            <li><a href="" class="icon02">회원가입</a></li>
            <!-- // 로그인 전 -->
            <!-- 로그인 후 -->
            <li><a href="" class="icon03">마이페이지</a></li>
            <li><a href="" class="icon04">나의업무</a></li>
            <li><a href="" class="icon05">로그아웃</a></li>
            <!-- // 로그인 후 -->
        </ul>
        <nav id="gnb">
            <ul>
                <li>
                    <div class="depth1">공유업무 등록<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="/mobile/page/sub_01_01.html">업무무료등록</a></li>
                        <li><a href="/mobile/page/sub_01_02.html">공유업무 등록 안내</a></li>
                    </ul>
                </li>
                <li>
                    <div class="depth1">공유업무 찾기<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="">복대리</a></li>
                        <li><a href="">기록등사</a></li>
                        <li><a href="">조사참여</a></li>
                        <li><a href="">접견</a></li>
                        <li><a href="">서면작성</a></li>
                        <li><a href="">계약서</a></li>
                        <li><a href="">증명서 발급</a></li>
                        <li><a href="">기일, 선고 성취</a></li>
                        <li><a href="">법률문서 번역</a></li>
                        <li><a href="">기타</a></li>
                    </ul>
                </li>
                <li>
                    <div class="depth1">변호사 찾기<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="">변호사 검색</a></li>
                        <li><a href="">변호사 회원가입 안내</a></li>
                    </ul>
                </li>
                <li>
                    <div class="depth1">이용안내<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="">로투미 이용안내</a></li>
                        <li><a href="">포인트 안내</a></li>
                        <li><a href="">예치금 충전 안내</a></li>
                        <li><a href="">에스크로 안내</a></li>
                        <li><a href="">위임장 안내</a></li>
                    </ul>
                </li>
                <li>
                    <div class="depth1">지원센터<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="">공지사항</a></li>
                        <li><a href="">뉴스/언론</a></li>
                        <li><a href="">이벤트</a></li>
                        <li><a href="">자주찾는질문</a></li>
                        <li><a href="">온라인 1:1문의</a></li>
                        <li><a href="">정보게시판</a></li>
                    </ul>
                </li>
                <li>
                    <div class="depth1">커뮤니티<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="">지식&middot;정보 공유</a></li>
                        <li><a href="">서식&middot;양식 공유</a></li>
                        <li><a href="">변호사 업무상담</a></li>
                        <li><a href="">변호사업무 Q&amp;A</a></li>
                        <li><a href="">소개해 주세요</a></li>
                    </ul>
                </li>
                <li>
                    <div class="depth1">회사소개<span class="blind">하위 메뉴 더보기</span></div>
                    <ul class="depth2">
                        <li><a href="">회사개요</a></li>
                        <li><a href="">인사말</a></li>
                        <li><a href="">사업내용</a></li>
                        <li><a href="">홍보자료</a></li>
                        <li><a href="">사업연혁</a></li>
                        <li><a href="">찾아오시는 길</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>